{{> head }}
{{> navbar }}

<div class="row">

 <div class="col-8">
     <h1>Bad Boys</h1>\
     <p>
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel recusandae sit, fuga ut facere sunt voluptatem tempore quaerat deserunt accusamus culpa quia odio nisi nemo porro inventore optio asperiores voluptate.
     </p>

 </div>

 <div class="col-4">
     <img src="assets/img/bad-boys.jpg" class="img-thumbnail">

 </div>



</div>  

 


    {{> footer }}